body{background-image: url(https://i.pinimg.com/originals/4f/8d/5b/4f8d5b2081b8a4ded207d5fc08a29f7b.png);
background-repeat: no-repeat;
background-size: cover;}
h1{color: aqua;}
h2{color: azure;
background-color: rgba(0, 0, 0, 0.377);}